<div class="item <?php echo($fl['trending_data']['active']); ?>">
    <img src="<?php echo $fl['trending_data']['news']['big_image'];?>" alt="" class="image">
    <div class="carousel-caption">
        <a href="<?php echo $fl['trending_data']['news']['url'];?>" data-ajax="?link1=lists&id=<?php echo $fl['trending_data']['news']['slug'].'-'.$fl['trending_data']['news']['id'];?>" class="list-url">
            <h5><?php echo $fl['trending_data']['news']['title'];?></h5>
        </a>
        <div class="meta width-100">
            <a href="<?php echo $fl['trending_data']['news']['publisher']['url'];?>" data-ajax="?link1=profile&id=<?php echo $fl['trending_data']['news']['publisher']['username'];?>"><?php echo $fl['trending_data']['news']['publisher']['name'];?></a> 
            <time>
                <i class="fa fa-clock-o"></i> 
                <?php echo $fl['trending_data']['news']['posted'];?>
            </time>
        </div>
    </div>
    <div class="item-overlay"></div>
</div>