<div class="fl_featured__slide">
	<a href="{{TOP_MUSIC_URL}}" data-ajax="?link1=music&id=<?php echo $fl['top_music_data']['music']['slug'].'-'.$fl['top_music_data']['music']['id'];?>" class="fl_feat_bg_img">
		<img src="{{TOP_MUSIC_IMAGE}}"/>
	</a>
	<div class="fl_feat_content">
		<div class="description">
			<div class="category">
				<div class="news-category music">{{LANG music}}</div>
			</div>
			<h2><a href="{{TOP_MUSIC_URL}}" data-ajax="?link1=music&id=<?php echo $fl['top_music_data']['music']['slug'].'-'.$fl['top_music_data']['music']['id'];?>">{{TOP_MUSIC_TITLE}}</a></h2>
		</div>
	</div>
</div>