<div class="fl_featured__slide">
	<a href="{{TOP_VIDEO_URL}}" data-ajax="?link1=videos&id=<?php echo $fl['top_video_data']['video']['slug'].'-'.$fl['top_video_data']['video']['id'];?>" class="fl_feat_bg_img">
		<img src="{{TOP_VIDEO_IMAGE}}"/>
	</a>
	<div class="fl_feat_content">
		<div class="description">
			<div class="category">
				<div class="news-category video">{{LANG videos}}</div>
			</div>
			<h2><a href="{{TOP_VIDEO_URL}}" data-ajax="?link1=videos&id=<?php echo $fl['top_video_data']['video']['slug'].'-'.$fl['top_video_data']['video']['id'];?>">{{TOP_VIDEO_TITLE}}</a></h2>
		</div>
	</div>
</div>